<div th:fragment="options">
    <div>
        <li>
            <button><a th:href="'/ui/third/all'">All tickets</a></button>
        </li>
    </div>
    <div>
        <li>
            <button><a th:href="'/ui/third/generate'">Generate</a></button>
        </li>
    </div>
    <div>
        <li>
            <button><a th:href="'/ui/third/current'">Get Current</a></button>
        </li>
    </div>
    <div>
        <li>
            <button><a th:href="'/ui/third/delete'">Delete</a></button>
        </li>
    </div>
</div>