<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moneta-second-task</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div th:replace="fragments/navTop :: toplinks"></div>
<table>
    <th>Id</th>
    <th>Input</th>
    <th>Output</th>
    <tr th:each="secondtask :${list}" th:object="${secondtask}">
        <td th:text="*{id}"/>
        <td th:text="*{input}"/>
        <td th:text="*{output}"/>
    </tr>
</table>
<form th:action="@{/ui/second/add}" th:object="${intIn}" method="post">
    <label>Integer input
        <input type="text" th:field="*{inputInt}"><br>
    </label>
    <input type="submit" value="Modify your integer!"/>
</form>
</body>
</html>